.avenir {
    font-family: 'avenir next', avenir,
                 sans-serif;
  }

.washed-blue { 
    color: #F6FFFE; 
}

.bg-navy { 
    background-color: #001B44; 
}

#me-pic {
    height: 20em;
    width: auto;
    border-radius: 4rem;
    border: 3px solid #357edd;
}